*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
}

html,body{
    width: 100%;
}

header.desktop{
    width: 100%;
    height: 250px;
    background-image: url(../images/bg-header-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: center;
    display: flex;  
}
a.logo img{
    width: 100px;
}
.textos1{
    margin-top: 15px;
    text-align: center;
}
.textos1 h1{
    font-size: 42px;
    color: hsl(210, 10%, 33%);
}
.textos1 p{
    margin-top: 18px;
    font-size: 17px;
    color: hsl(201, 11%, 66%);
}
.buttons-desktop{
    text-align: center;
}
.buttons-desktop input{
    padding: 18px 50px;
    border: 1px solid;
    border-radius: 30px;
    margin: 40px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    font-size: 18px; 
}
.buttons-desktop input:nth-child(1){
    background-color: #26bba4;
    border: 1px solid #1f9482;
    border-bottom: 3px solid #1f9482;
    border-top: none;
}
.buttons-desktop input:nth-child(2){
    background-color: hsl(233, 100%, 69%);
    border: 1px solid hsl(233, 57%, 53%);
    border-bottom: 3px solid hsl(233, 57%, 53%);
    border-top: none;
}
.buttons-desktop input:nth-child(1):hover{
    background-color: #34d6be;
}
.buttons-desktop input:nth-child(2):hover{
    background-color: hsl(233, 100%, 75%);
}
.buttons-desktop input:nth-child(1):active{
    background-color: #1f9482;
}
.buttons-desktop input:nth-child(2):active{
    background-color: hsl(233, 57%, 53%);  
}

/*********/
.textos2{
    text-align: center;
    margin-top: 90px;
}
h2{
    font-size: 26px;
    color: hsl(210, 10%, 33%);
}
.textos2 p{
    margin-top: 20px;
    color: hsl(201, 11%, 66%);
}
h3{
    font-size: 20px;
    color: hsl(210, 10%, 33%);
}
.section{
    margin-top: 35px;
    display: flex;
    justify-content: center;
}
.section img{
    width: 600px;
}
.text-section{
    padding: 30px 2%;
}
.text-section h3{
    margin-top: 40px;
}
.text-section p{
    margin-top: 15px;
    color: hsl(201, 11%, 66%);
}
.section2{
    margin-top: 90px;
    text-align: center;
}
.section2 p{
    margin-top: 15px;
    font-size: 17px;
    color: hsl(201, 11%, 66%);
}
.section2 img{
    margin-top: 45px;
}
.section3{
    text-align: center;
}
.section3 p{
    margin-top: 15px;
    font-size: 17px;
    color: hsl(201, 11%, 66%);
}
contents.items{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
contents.items img{
    justify-content: center;
}
contents.items div{
    padding: 25px 2%;
}
contents.items div h3{
    margin-top: 30px;
}
.empresas{
    display: flex;
    margin-top: 90px;
    justify-content: center;
    align-items: center;
}
.empresas a{
    margin:0 2%;
}
.section4{
    text-align: center;
    margin-top: 90px;
}
.section4 p{
    color: hsl(201, 11%, 66%);
    font-size: 17px;
    margin-top: 15px;
}
footer{
    margin-top: 90px;
    display: flex;
    text-align: center;
    align-items: center;
}
.logo-footer{
    text-align: center;
    flex: 33.3%;
}
.logo-footer img{
    width: 65px;
}
.social{
    flex: 33.3%;
    text-align: right;
    padding-right: 20px;
}
.container-menu ul, .container-menu a{
    text-align: justify;
    list-style-type: none;
    text-decoration: none;
    font-size: 16px;
    color: hsl(201, 11%, 66%);
}
.container-menu li{
    display: inline-block;
    padding: 20px;
    font-weight: bold; 
}
.social{
    margin-right: 100px;
}
.social a{
    padding: 25px;  
}
.container-menu li a:hover{
    color: #34d6be;
    font-weight: bold;
}

.social img:hover{
    filter: invert(71%) sepia(17%) saturate(1511%) hue-rotate(122deg) brightness(99%) contrast(89%);
}